
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Poppins:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto' ,sans-serif;
}

body{

    background-color:black;
    color:white;

}

.container{
   height:100vh;
}


.left
{
    width:25vw;
    padding:10px;
}

.right
{
    width:75vw;
}

.close{
    display:none;
}

.home ul li
{
    display: flex;
    gap:15px;
    width:14px;
    list-style: none;
    padding-top: 14px;
    font-weight:bold;
}

.heading{
    display: flex;
    gap:15px;
    width:100%;
    padding-top: 14px;
    padding:23px 14px;
    font-weight:bold;
    align-items: center;
    font-size:13px;
}

.heading img{
    width:30px;
}

.footer{
    display:flex;
    font-size:10px;
    color:gray;
    gap:13px;
    position:absolute;
    bottom:0;
    padding:10px;
}

.footer a{
    color:gray;
}

.library{
    min-height: 80vh;
    position:relative;
}

.right{
    margin:16px;
    position:relative;
}

.header{
    display:flex;
    justify-content: space-between;
    background-color: #1b1a1a;
   height:82px;
}

.header > *{
    padding:20px;
}

.hamburger{
    display:none;
    cursor:pointer;
}

.hamburgercontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.spotifyplaylist{
    padding:16px;
}

.spotifyplaylist h1{
    padding:16px;
}

.cardcontainer{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    margin:30px;
    max-height: 48vh;
    overflow-y: auto;

}

.cards{
           width:250px;
           padding:10px;
           border-radius: 5px;
           background-color: #252525;
           position:relative;
           transition:all 0.9s;
          
}

.cards:hover{
    cursor:pointer;
    background-color: #a7a5a5;
    --a:1;
}

.cards >*{
    padding-top: 10px;
}

.cards img{
    width:100%;
    object-fit: contain;
}

.play{
    position:absolute;
    top:206px;
    right:32px;
    opacity:var(--a);
    transition: all 1s ease-out;
}

.button > *{
    margin: 0px 12px;
}

.signupbtn{
    background-color: #1b1a1a;
    color:#9d9c9c;
    font-weight: bold;
    border:none;
    outline: none;
    cursor:pointer;
    font-size: 16px;;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;

}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color:black;
    padding:10px;
    width:79px;
    cursor:pointer;
    font-size:16px;
}


.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position:fixed;
    bottom:30px;
    width:65vw;
    filter:invert(1);
    background-color: #e2d9d9;
    padding:12px;
    border-radius:10px;
    min-height:40px;
}

.songbuttons{
    display:flex;
    justify-content: center;
    gap:16px;
}

.songlist{
    height:444px;
    overflow: auto;
    margin-bottom:44px;
}

.songlist ul{
    padding:0px 11px;
}

.info{
    font-size: 13px;
    width:344px;
}

.info div{
    word-break: break-all;
}

.songlist ul li{
    list-style-type:decimal;
    display:flex;
    justify-content: space-between;
    gap:12px;
    cursor:pointer;
    padding: 12px 0px ;
    border:1px solid white;
    margin:12px 0;
    padding:13px;
    border-radius: 5px;
}

.playnow{
    display:flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width:64px;
    padding:12px;
}

.seekbar{
    height:4px;
    width:98%;
    background-color: black;
    position:absolute;
    bottom:0;
    border-radius: 10px;
    margin: 6px;
    cursor:pointer;

}

.circle{
    width:13px;
    height:13px;
    border-radius:13px;
    background-color: black;
    position:relative;
    bottom:6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor:pointer;
}

.songinfo{
    color:black;
    padding:0 12px;
    width:250px;
}

.songtime{
    color:black;
    padding:0 12px;
    width: 125px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}

.timevol{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:22px;
    cursor:pointer;
}

.range input{
    cursor:pointer;
}

@media (max-width:1200px) {
    .left{
        background-color:black;
        position:absolute;
        left:-120%;
        transition: all 0.3s ;
        z-index:1;
        width:373px;
        padding:0;
    }

    .left .close {
        position:absolute;
        right:31px;
        top:21px;
        width:29px;
        display:block;
    }


    .right{
        width:100vw;
    }

    .playbar{
        width:calc(100vw - 75px);
    }

    .seekbar{
        width:calc(100vw - 120px);
    }

    .hamburger{
        display:block;
    }

    .cardcontainer{
        margin:0;
        justify-content: center;
    }

    .cards{
        width:auto;
    }

    .right{
        margin:0;
    }

    .abovebar{
        flex-direction: column;
        gap:23px;
        align-items: center;
    }

    .songinfo , .songtime{
        width:auto;
    }

    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap:13px;
    }

    .cardcontainer{
        max-width: 40vh;
    }

}

@media(max-width:500px)
{
    .cards{
        width:auto;
    }
}